.contact{
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: var(--white);
    padding: 1rem;
}



.contact__img{
    margin-top: 1rem;
    margin-inline: auto;
    width:100px ;
    height:100px ;
    /* border: 1px solid red; */
}

.contact__text{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:0.5rem ;
    /* border: 1px solid red;    */
}

.contact__text-title{
    font-size: 1.5rem;
    letter-spacing: -0.05em;  
}

.contact__text-subtitle,.contact__text-subtitle2{
    font-size: 1.1rem;
}

.contact__text-subtitle2{
    color: var(--golden);
}

.contact__inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50ch;
    margin-inline: auto;
    margin-bottom: 1rem;
    /* border: 1px solid red; */
}

.contact__inputs-name,.contact__inputs-email{
    height: 2rem;
    border-radius:4px ;
    text-align: left;
}


/* xs */
 @media (min-width: 475px) {

    .contact__img{
        width: 120px;
        height:120px ;
    }
    .contact__text-title{
        font-size: 2rem;
        
    }
    
    .contact__text-subtitle,.contact__text-subtitle2{
        font-size: 1.5rem;
    }

    .contact__inputs-name,.contact__inputs-email,.contact__inputs-submit{
        height: 2.5rem
    }

    
 } 

/* sm */
/* @media (min-width: 640px) {} */

/* md */
 @media (min-width: 768px) {
    .contact{
        flex-direction: row;
        align-items: center;
    }

    
 } 

/* lg */
  @media (min-width: 1024px) {
    .contact__inputs{
        width:35ch ;
      
  }  
}

/* xl */
 @media (min-width: 1280px) {
    .contact__img{
        width: 140px;
        height:140px ;
    }
    .contact__text-title{
        font-size: 2.5rem;
        
    }
    
    
    .contact__text-subtitle,.contact__text-subtitle2{
        font-size: 2rem;
    }

    .contact__inputs-name,.contact__inputs-email,.contact__inputs-submit{
        height: 3rem
    }

 } 

/* 2xl */
/* @media (min-width: 1536px) {} */


