.features{
    background-color: var(--black);
    color: var(--white);
    padding: 1rem;
}

.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.features__caracteristicas{
    display: flex;
    gap: 2rem;
    margin-inline: auto;
    align-items: center;
    /* border: 1px solid red;  */
    
   
}

.features__backgroundImg{
    background-color: var(--white);
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
}

.features__text{
    font-size: 1.5rem;
}


.features__img{
    width: 40px;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
 @media (min-width: 768px) {
    
 } 

/* lg */
 @media (min-width: 1024px) {

    .features{
        padding: 2rem;
    }
    .features__container{
        flex-direction: row;
        
    }

    .features__text{
        font-size: 1.8rem;
    }

    
 }
  
/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
