.header__navbar{
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 100%;
    /* position: relative;
    z-index: 9999;
     */
   
}

.header__logo{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;   
}

.header__menu{
    display: none;
}

.header__icons{
    display: flex;
    gap: 1.5rem;   
}

.header__icons-self{
    width: 24px;
    height:24px;
}


.header__bars{
    position: relative;
    z-index: 9999;
}


    


/* xs */
 @media (min-width: 475px) {
    .header__icons-self{
        width: 32px;
        height:32px;
    }   
 } 

/* sm */
 @media (min-width: 640px) {
    .header__icons-self{
        width: 40px;
        height:40px;
    }
 } 

/* md */
 @media (min-width: 768px) {
    .header__menu{
        display: flex;
        gap: 2rem;
        list-style: none;        
    }
    
    .header__link{
        font-size: 1rem;
        color: var(--white);
        text-decoration: none;
    }
    
    .header__link:hover{
        color:rgba(255,255,255,0.85);
    }

    #header__icons-bars{
        display: none;
    }

    .header__icons-self{
        width: 48px;
        height:48px;
    }

}

/* lg */
 @media (min-width: 1024px) {
    .header__link{
        font-size: 1.5rem;   
    }

 } 

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */