.testemonial{
    /* border: 1px solid red; */
     /* overflow-x: hidden;  */
    position: relative;
}

.testemonial__title{
    font-size: 2rem;
    line-height: 1;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
}

.testemonial__container{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
    

    
   
}

.testemonial__card{    
    background-color: var(--white);
    border-radius: 10px;
    max-width: 500px; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
    

}

.testemonial__card-img{
width: 80px;
border-radius: 50%;


}


.testemonial__card-date{
    color: var(--dark-gray);
    font-weight: 300;
    font-size: 0.8rem;
    
}

.testemonial__card-comment{
    width: 35ch;
    font-weight: 400;
}

.arrowTestemonialRigth{
    top: 60%;

}

.arrowTestemonialLeft{
    top: 60%;

}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
 @media (min-width: 768px) {
    .testemonial{
          overflow-x: hidden;         
    }
    
 } 

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */